<!DOCTYPE html>
<html lang="ko">
{% load static %}

  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'payments/bulma/bulma.min.css' %}"/>
      
  <title>실패 (Djando)</title>
</head>
    
<body>
    
<section>
    <h1>실패</h1>
    
    <pre>
    code = {{ code }}
    message = {{ message }}</pre>
</section> 

<button class="button is-link" onclick="location.href='/payments/';">돌아가기</button>
    
</body>
</html>