<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <title>구매하기</title>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="{% static 'billing/bulma/bulma.min.css' %}"/>
      
  <title>실패 (Ruby On Rails)</title>
</head>
    
<body>
    
<section>
    <h1>실패</h1>
    
    <pre>
      code = {{ code }}
      message = {{ message }}</pre>
</section> 

<button class="button is-link" onclick="location.href='/billing/';">돌아가기</button>
    
</body>
</html>