<!DOCTYPE html>
<html>
  <head>
    <title>결제에 실패했어요</title>
    <meta httpEquiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <section>
      <h1>결제에 실패했어요</h1>
      <p><%= message %></p>
      <span>에러코드: <%= code %></span>
    </section>
  </body>
</html>
