<!DOCTYPE html>
<html lang="ko">
{% load static %}

<head>
    <title>구매하기</title>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="{% static 'billing/bulma/bulma.min.css' %}"/>

    <script src="https://js.tosspayments.com/v1"></script>
</head>

<body>

    <section class="hero is-link">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    빌링결제(일반)
                </h1>

            </div>
        </div>
    </section>
    <section class="section ">
        <div class="container">
            <button class="button is-link" onclick="location.href='/billing/billing_auth';">빌링키발급(api)</button>
        </div>
    </section>
</body>

</html>