<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="/static/index.css">
  <title>브랜드페이 위젯 샘플 프로젝트</title>
  <!-- BrandPay SDK script 추가 -->
  <script type="text/javascript" src="https://js.tosspayments.com/v1/brandpay"></script>
  <script type="text/javascript" defer src="/static/brandpay.js"></script>
</head>

<body>
  <form id="payment-form" style="text-align: center;">
    <div id="payment-methods-widget"></div>
    <button id="button" type="primary" class="button">결제 금액 업데이트</button>
    <button id="submit" type="primary" class="button">결제하기</button>
  </form>
</body>
</html>