<!DOCTYPE html>
<html lang="ko">
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
  <title>발급 성공 (Ruby On Rails)</title>
</head>
    
<body>
    
<section>
    <h1>발급 성공</h1>
    
    <p>결과 데이터 : </p>
    <pre><%= JSON.pretty_generate(@Response) %></pre>
    <br><br>
    
</section> 

<button class="button is-link" onclick="location.href='/billing/index';">돌아가기</button>
    
</body>
</html>