<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta httpEquiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <section>
      <h1>구매 완료</h1>
      <img src="/images/toss-tee.png" style="max-width: 100%" />
      <h3>토스 티셔츠</h3>
      <p>결제 금액: <%= amount.toLocaleString() %>원</p>
    </section>
  </body>
</html>
