<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>결제위젯 샘플</title>
    <script src="https://js.tosspayments.com/v1/payment-widget"></script>
  </head>
  <body>
    <div id="payment-method"></div>
    <button id="payment-request-button">결제하기</button>
    <script>
      /*
       * 결제위젯 SDK를 초기화합니다.
       * @docs https://docs.tosspayments.com/reference/widget-sdk#sdk-설치-및-초기화
       */
      const paymentWidget = PaymentWidget(
        /*
         * TODO: 개발자센터에 로그인해서 내 결제위젯 클라이언트 키를 입력하세요
         * @docs https://docs.tosspayments.com/reference/using-api/api-keys
         */
        "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm", 
        PaymentWidget.ANONYMOUS
      );

      /*
       * 결제창을 렌더링합니다.
       * @docs https://docs.tosspayments.com/reference/widget-sdk#renderpaymentmethods선택자-결제-금액
       */
      paymentWidget.renderPaymentMethods("#payment-method", { value: 50000 });

      const paymentRequestButton = document.getElementById(
        "payment-request-button"
      );
      paymentRequestButton.addEventListener("click", () => {
        /** 
         * 결제를 요청합니다.
         * @docs https://docs.tosspayments.com/reference/widget-sdk#requestpayment결제-정보
         */
        paymentWidget.requestPayment({
          orderId: generateRandomString(),
          orderName: "토스 티셔츠 외 2건",
          successUrl: window.location.origin + "/success",
          failUrl: window.location.origin + "/fail",
        });
      });

      function generateRandomString() {
        return window.btoa(Math.random()).slice(0, 20);
      }
    </script>
  </body>
</html>
